body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #020617;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: #cbd5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #0f172a;
  color: white;
}

.dashboard {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  width: 250px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}
.card h2 {
  margin-top: 0;
}